<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RecordH.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>823E79FB1ACB3136DC61C4DC303E1F26D4F88D3D</string>
				<key>dateExpires</key>
				<string>2026/2/5</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HRXH3D26H3.com.shipingliu.RecordH.RecordH</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>HRXH3D26H3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>RecordH.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>94a472db-4b41-4278-8740-69a3bc43c4f5</string>
				<key>dateExpires</key>
				<string>2026/2/5</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.shipingliu.RecordH.RecordH</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HRXH3D26H3</string>
				<key>name</key>
				<string>shiping liu</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
